<%- include('../includes/head.ejs') %>

<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <% if(errorMessage){ %>
            <div class="alert alert-danger"><%= errorMessage %></div>
            <% } %>
             <% if(successMessage[0]){ %>
            <div class="alert alert-success"><%= successMessage[0] %></div>
            <% } %>

            <h3 class="mb-5">ورود</h3>

            <form action="/login" method="post" novalidate>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="form-outline mb-4">
                <input
                  name="email"
                  type="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                  placeholder="نام کاربری یا ایمیل خود را وارد کنید"
                />
              </div>
              <div class="form-outline mb-4">
                <input
                  name="password"
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  placeholder="رمز عبور را وارد کنید"
                />
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                وارد شوید
              </button>
            </form>

            <hr />
            <div>
              <a href="/reset">فراموشی رمز عبور</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../includes/end.ejs') %>
