<%- include('../includes/head.ejs') %> <%- include('../includes/heading.ejs') %>
<%- include('../includes/navigation.ejs') %>

<main>
  <div class="container">
    <div class="centered">
      <div class="card">
        <h2 class="card-header"><%= product.title %></h2>

        <div class="card-body">
          <img src="<%= product.imageUrl %> " alt="<%= product.title %>" />

          <div class="text-center">
            <h4 class="card-text"><%= product.description %></h4>
            <hr />
            <h3><%= product.price %> ريال</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('../includes/end.ejs') %>
